{% extends 'incos_app/base.html' %}
{% block title %}Formulario de Prestatario{% endblock %}
{% block header %}
    {% if object %}
        Editar Prestatario: {{ object.nombre }}
    {% else %}
        Registrar Nuevo Prestatario
    {% endif %}
{% endblock %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                Información del Prestatario
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }} 
                    <button type="submit" class="btn btn-success mt-3">
                        {% if object %}Guardar Cambios{% else %}Registrar Prestatario{% endif %}
                    </button>
                    <a href="{% url 'prestatario_list' %}" class="btn btn-secondary mt-3">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}