{% extends 'incos_app/base.html' %}
{% block title %}Editar Administrador{% endblock %}
{% block header %}
    {% if object %}
        Editar Usuario: {{ object.username }}
    {% else %}
        Crear Nuevo Administrador
    {% endif %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    Formulario de Usuario
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {{ form.as_p }} 

                        <button type="submit" class="btn btn-success mt-3">
                            {% if object %}Guardar Cambios{% else %}Crear Cuenta{% endif %}
                        </button>
                        <a href="{% url 'usuario_list' %}" class="btn btn-secondary mt-3">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}