{% extends 'incos_app/base.html' %}
{% block title %}Registrar Préstamo{% endblock %}
{% block header %}Registrar Nuevo Préstamo{% endblock %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                Detalles del Préstamo
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">{{ form.non_field_errors }}</div>
                    {% endif %}
                    
                    {{ form.as_p }} 

                    <button type="submit" class="btn btn-success mt-3">Confirmar Préstamo</button>
                    <a href="{% url 'prestamo_list' %}" class="btn btn-secondary mt-3">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}