<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperar Contraseña</title>
</head>
<body>
    <h1>Restablecer Contraseña</h1>
    <p>Ingresa tu **Correo Electrónico** a continuación. Te enviaremos un enlace para que puedas establecer una nueva contraseña.</p>

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Enviar Enlace</button>
    </form>

    <p><a href="{% url 'login' %}">Volver al inicio de sesión</a></p>
</body>
</html>