# C:\Incos\Incos_app\templates\incos_app\password_reset_email.html
Hola {{ user.nombre }},

Hemos recibido una solicitud para restablecer la contraseña de tu cuenta ({{ user.email }}) en el Sistema de Prestaciones del Instituto.

Si solicitaste este cambio, haz clic en el siguiente enlace:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si no solicitaste este cambio, simplemente ignora este correo. Tu contraseña actual permanecerá sin cambios.

Gracias,
El Equipo de Prestaciones INCOS